@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.html {
  /* color: rgba(89,96,117,255); */
}

.base-text {
  color: rgba(89,96,117,255);
}
.background-main-dark {
  background-color: rgba(37,43,53,255);
}

.background-main {
   background-color: rgba(216,217,216,255);
}

.background-pill {
  background-color: rgba(42,51,59,255);
}

.background-individual-pill {
 background-color: rgba(53,59,68,255);
}

.container {
  width: 100%;
  max-width: 1280px; /* or similar depending on breakpoints */
  margin-left: auto;
  margin-right: auto;
}
